<div id="app-wrapper">

</div>
<div id="nav-wrapper">
  <nav id="sidebar">
    <h2>Navigation</h2>
    <ul>
      <li>> Home</li>
      <li>> Projects</li>
      <li>> Profile</li>
    </ul>
  </nav>
</div>
<script type="text/template" id="project-template">
  <ul class="project">
    <li>name: {{ name }}</li>
    <li>artificactId: {{ artificactId }}</li>
    <li>groupId: {{ groupId }}</li>
    <li>version: {{ version }}</li>
  </ul>
</script>